---
{{- if .Values.apmServer.enabled }}
apiVersion: apm.k8s.elastic.co/v1
kind: ApmServer
metadata:
  name: {{ .Values.apmServer.name }}
  labels:
    {{- include "apmServer.labels" . | nindent 4 }}
  annotations:
    eck.k8s.elastic.co/license: basic
spec:
  version: {{ .Values.clusterVersion }}
  count: {{ .Values.apmServer.count }}
  elasticsearchRef:
    name: {{ .Values.elasticsearch.name }}
  config:
    http:
      enabled: true
      host: 0.0.0.0
      port: 5066
  podTemplate:
    metadata:
      annotations:
        co.elastic.logs/json.keys_under_root: "true"
        co.elastic.logs/json.add_error_key: "true"
        co.elastic.logs/json.message_key: "message"
        co.elastic.metrics/raw: |
          [
            {
              "module": "beat",
              "enabled": true,
              "period": "10s",
              "metricsets": [
                "stats",
                "state"
              ],
              "hosts": "http://${data.host}:${data.ports.metrics}",
              "xpack.enabled": "true"
            }
          ]
    spec:
      containers:
        - name: apm-server
          ports:
            - name: https
              containerPort: 8200
              protocol: TCP
            - name: metrics
              containerPort: 5066
              protocol: TCP
  http:
    service:
      spec:
        ports:
          - name: https
            port: 8200
            targetPort: 8200
          - name: metrics
            port: 5066
            targetPort: 5066
{{- end }}