---
{{- if .Values.logstash.enabled }}
apiVersion: logstash.k8s.elastic.co/v1alpha1
kind: Logstash
metadata:
  name: {{ .Values.logstash.name }}
  labels:
    {{- include "logstash.labels" . | nindent 4 }}
  annotations:
    eck.k8s.elastic.co/license: basic
spec:
  version: {{ .Values.clusterVersion }}
  count: {{ .Values.logstash.count }}
  config:
    monitoring.enabled: false
    log.format: json
  podTemplate:
    metadata:
      annotations:
        co.elastic.logs/module: logstash
        co.elastic.metrics/raw: |
          [
            {
              "module": "logstash",
              "enabled": true,
              "period": "10s",
              "metricsets": ["node","node_stats"],
              "hosts": "https://${data.host}:${data.ports.http}",
              "username": "elastic",
              "password": "${kubernetes.elk.{{ .Values.elasticsearch.name }}-es-elastic-user.elastic}",
              "ssl.verification_mode": "none",
              "xpack.enabled": "true"
            }
          ]
    spec:
      initContainers:
        - name: logstash-init
          image: logstash-init:{{ required "logstash.initImageTag is required" .Values.logstash.initImageTag }}
          # todo jen pro lokalni build, pak smazat az bude v registrech
          imagePullPolicy: Never
          command: ["/bin/sh"]
          args: ["-c", "cp -a /data/. /usr/share/logstash/files/"]
          volumeMounts:
            - name: workdir
              mountPath: /usr/share/logstash/files
      containers:
        - name: logstash
          volumeMounts:
            - mountPath: /usr/share/logstash/dlq
              name: dlq
              readOnly: false
            - name: workdir
              mountPath: /usr/share/logstash/files
      volumes:
        - name: workdir
          emptyDir: {}
  pipelinesRef:
    secretName: logstash-pipeline
  volumeClaimTemplates:
    - metadata:
        name: dlq
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.logstash.dlq.size }}
  elasticsearchRefs:
    - clusterName: main
      name: {{ .Values.elasticsearch.name }}
{{- end }}