input {
  dead_letter_queue {
    path => "{{ logstash_dlq_path }}"
    pipeline_id => "01_input_{{ item_name }}"
    clean_consumed => true
    add_field => {
      "pipeline_id" => "01_input_{{ item_name }}"
      "[@metadata][item_name]" => "dlq"
    }
  }
}
