{% import 'macros.j2' as macros with context %}

output {
    if [@metadata][_id] {
      elasticsearch {
        {{ macros.elk_output_index() | indent(10) }}
        document_id => "{{ document_id }}"
        index => "lm-{{ item_name }}-logs"
      }
    } else {
      elasticsearch {
        {{ macros.elk_output_index() | indent(10) }}
        index => "lm-{{ item_name }}-logs" 
      }
    }

    if [@metadata][save_error] {
        elasticsearch {
            {{ macros.elk_output_index() | indent(12) }}
            index => "lm-{{ item_name }}.error-logs" 
        }
    }
}
