{% macro elk_output() -%}
hosts => [ "${MAIN_ES_HOSTS}" ]
user => "${MAIN_ES_USER}"
password => "${MAIN_ES_PASSWORD}"
ssl_certificate_authorities => "${MAIN_ES_SSL_CERTIFICATE_AUTHORITY}"
data_stream_auto_routing => false
data_stream_namespace => lm
{%- endmacro %}